.categories-wrapper .container {
  display: flex;
}

.categories-wrapper h2 {
  background-color: #000;
  color: #fff;
  margin-bottom: 50px;
  padding: 15px 0;
}

.categories-wrapper ul {
  display: flex;
}

.category-img {
  position: relative;
  background: #000;
  height: 200px;
  width: 150px;
  /* display: block; */
}

.categories-wrapper .container li {
  margin-right: 20px;
}

.categories-wrapper .container li>p {
  font-size: 18px;
  margin-top: 15px;
  text-transform: capitalize;
}

.categories-list {
  flex-wrap: wrap;
  justify-content: space-between;
}

.category-item {
  width: calc(100%/7);
  max-width: 150px;
  margin-bottom: 20px;
}

.category-item img {
  width: 100%;
}

.category-img img {
  width: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.category-img p {
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 40px;
}